img {
    width: 300px;
    height: 200px;
    border: 1px solid rgb(221,221,221);
}

.card {
    width: 320px;
    height: 480px;
    border: 1px solid rgb(221,221,221);
    box-shadow: 5px 5px rgb(235, 233, 233);
    border-radius: 10px;
}

ul { 
    padding-left: 10px;
    list-style-type: none;
}

.text { 
    margin-top: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(221,221,221);
    font-size: 13px;

}

 .content {
    margin: 10px;
    margin-top: 20px;
}

h3 {
    margin: 10px; 
    border: 1px solid rgb(221,221,221);
    width: 300px;
}

p {
    margin-left: 10px;
}

span {
    font-weight: bold;
}

.fact {
    font-style: italic;
}

.last {
    margin-top: -5px;
}
